.formWrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: rgb(0, 0, 0,0.65);
}
.formCountries {
  display: flex;
  flex-wrap: wrap;
}

/* .bg-shadow {
  background: rgba(0,0,0,0.2);
} */

.container-custom {
  max-width: 800px;
  z-index: 100;
  position: relative;
}