.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
 
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

// .flex-wrap {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
//   max-width: 1200px;
// }

// .flex-wrap {
//   flex-wrap: wrap;
// }
// @media (min-width: 576px) {
//   .flex-sm-wrap {
//     flex-wrap: wrap;
//   }
// }
// @media (min-width: 768px) {
//   .flex-md-wrap {
//     flex-wrap: wrap;
//   }
// }
// @media (min-width: 992px) {
//   .flex-lg-wrap {
//     flex-wrap: wrap;
//   }
// }
// @media (min-width: 1200px) {
//   .flex-xl-wrap {
//     flex-wrap: wrap;
//   }
// }


.no-wrap {
  flex-wrap: nowrap;
}
@media (min-width: 576px) {
  .no-sm-wrap  {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  .no-md-wrap  {
    flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
  .no-lg-wrap  {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .no-xl-wrap  {
    flex-wrap: nowrap;
  }
}

.no-wrap {
  flex-wrap: nowrap;
}
// ----------------
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

.mb-1 {
  margin-top: 1rem;
}
.mb-2 {
  margin-top: 2rem;
}
.mb-3{
  margin-top: 3rem;
}
.mb-4 {
  margin-top: 4rem;
}

.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3{
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px; 
  margin-left: -15px; 
}
.row-gap-1 {
  row-gap: 0.5rem;
}
.row-gap-2 {
  row-gap: 1rem;
}
.row-gap-3 {
  row-gap: 1.5rem;
}



.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333333333333%;
  flex: 0 0 8.33333333333333%;
  max-width: 8.33333333333333%;
}
.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666666666666%;
  flex: 0 0 16.6666666666666%;
  max-width: 16.6666666666666%;
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333333333333%;
  flex: 0 0 33.3333333333333%;
  max-width: 33.3333333333333%;
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666666666666%;
  flex: 0 0 41.666666666666%;
  max-width: 41.666666666666%;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333333%;
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66666666666%;
  flex: 0 0 66.66666666666%;
  max-width: 66.66666666666%;
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333333%;
  flex: 0 0 83.333333333%;
  max-width: 83.333333333%;
}
.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.6666666666666%;
  flex: 0 0 91.6666666666666%;
  max-width: 91.6666666666666%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333333333%;
    flex: 0 0 8.33333333333333%;
    max-width: 8.33333333333333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666666666%;
    flex: 0 0 16.6666666666666%;
    max-width: 16.6666666666666%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333333%;
    flex: 0 0 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666666666666%;
    flex: 0 0 41.666666666666%;
    max-width: 41.666666666666%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666666666%;
    flex: 0 0 66.66666666666%;
    max-width: 66.66666666666%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333333%;
    flex: 0 0 83.333333333%;
    max-width: 83.333333333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666666666%;
    flex: 0 0 91.6666666666666%;
    max-width: 91.6666666666666%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333333333%;
    flex: 0 0 8.33333333333333%;
    max-width: 8.33333333333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666666666%;
    flex: 0 0 16.6666666666666%;
    max-width: 16.6666666666666%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333333%;
    flex: 0 0 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666666666666%;
    flex: 0 0 41.666666666666%;
    max-width: 41.666666666666%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666666666%;
    flex: 0 0 66.66666666666%;
    max-width: 66.66666666666%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333333%;
    flex: 0 0 83.333333333%;
    max-width: 83.333333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666666666%;
    flex: 0 0 91.6666666666666%;
    max-width: 91.6666666666666%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333333333%;
    flex: 0 0 8.33333333333333%;
    max-width: 8.33333333333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666666666%;
    flex: 0 0 16.6666666666666%;
    max-width: 16.6666666666666%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333333%;
    flex: 0 0 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666666666666%;
    flex: 0 0 41.666666666666%;
    max-width: 41.666666666666%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666666666%;
    flex: 0 0 66.66666666666%;
    max-width: 66.66666666666%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333333%;
    flex: 0 0 83.333333333%;
    max-width: 83.333333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666666666%;
    flex: 0 0 91.6666666666666%;
    max-width: 91.6666666666666%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333333333333%;
    flex: 0 0 8.33333333333333%;
    max-width: 8.33333333333333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666666666%;
    flex: 0 0 16.6666666666666%;
    max-width: 16.6666666666666%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333333%;
    flex: 0 0 33.3333333333333%;
    max-width: 33.3333333333333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666666666666%;
    flex: 0 0 41.666666666666%;
    max-width: 41.666666666666%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666666666%;
    flex: 0 0 66.66666666666%;
    max-width: 66.66666666666%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333333%;
    flex: 0 0 83.333333333%;
    max-width: 83.333333333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666666666%;
    flex: 0 0 91.6666666666666%;
    max-width: 91.6666666666666%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.m-auto {
  margin: 0 auto;
}
.display-1 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 576px) {
  .display-sm-1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-sm-2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-sm-3 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-sm-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-sm-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-sm-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media (min-width: 768px) {
  .display-md-1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-md-2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-md-3 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-md-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-md-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-md-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media (min-width: 992px) {
  .display-lg-1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-lg-2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-lg-3 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-lg-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-lg-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-lg-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
  .display-xl-1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-xl-2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-xl-3 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-lg-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-xl-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-xl-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
// @media (min-width: 992px) {
//   .m-lg-auto {
//     margin: 0 auto;
//   }
// }
// @media (min-width: 1200px) {
//   .m-xl-auto {
//     margin: 0 auto;
//   }
// }
.gap-1 {
  gap: 0.5rem
}
.gap-2 {
  gap: 1rem
}
.gap-3 {
  gap: 1.5rem
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


// STYLES ------------------

.btn-danger {
  background-color: #a10101;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-group-prepend {
  margin-right: -1px;
}

.input-group-append, .input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.form-check-label {
  margin-bottom: 0;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.centered-block {
  padding: 1rem;
  background-color: var(--colors-bg2);
  color: var(--colors-text);
  max-width: 500px;
  min-width: 197px;
  margin: 0 auto;
  box-shadow: var(--shadow);
  border-radius: 5px;
}