html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  font-family: 'Roboto', sans-serif;
}
.got-img{
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.square.entering {
  animation: square 1000ms ease-out forwards;
}

.square.exiting {
  animation: square 501ms ease-in alternate-reverse;
}

.square.exited {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes square {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 1;
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }

}

.os-exit {
  transform: translateX(0);
  opacity: 1;
}

.os-exit-active {
  transform: translateX(100px);
  transition: transform 1s, opacity 500ms;
  opacity: 0;
}

.os-exit-done {
  transform: translateX(0);
  opacity: 1;
}

.os-enter {
  opacity: 1;
  transform: translateX(0);
}

.os-enter-active {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s, opacity 500ms;
}

.os-enter-done {
  opacity: 1;
  transform: translateX(0);
}



.as-exit {
  transform: translateX(0);
  opacity: 1;
}

.as-exit-active {
  transform: translateX(-100px);
  transition: transform 1s, opacity 500ms;

  opacity: 0;
}

.as-exit-done {
  transform: translateX(0);
  opacity: 1;
}

.as-enter {
  opacity: 1;
  transform: translateX(0);
}

.as-enter-active {
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 1s, opacity 500ms;
}


.es-exit {
  transform: translateY(0);
  opacity: 1;
}

.es-exit-active {
  transform: translateY(100px);
  transition: transform 1s, opacity 500ms;

  opacity: 0;
}

.es-exit-done {
  transform: translateY(0);
  opacity: 1;
}

.es-enter {
  opacity: 1;
  transform: translateY(0);
}

.es-enter-active {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 1s, opacity 500ms;
}






.form-check-input:checked {
  background-color: #a2312816;
  border-color: #a23128;
}



.formWrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: rgba(5, 5, 5, 0.9);
  box-shadow: 1px 1px 1px 1px #0e0e0e;
  transition: box-shadow .1s;
}

.formWrapper:hover {
  box-shadow: 1px 1px 3px 2px #0e0e0e;
}

.Winner-wrapper {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 1rem;
  position: fixed;

  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: rgba(5, 5, 5, 0.9);
  box-shadow: 1px 1px 1px 1px #0e0e0e;
  transition: box-shadow .1s;
}

@media (min-width: 1200px) {
  .Winner-wrapper {
    top: 5rem;
    left: 1rem;
    transform: translateX(0);

  }
}

.formCountries {
  display: flex;
  flex-wrap: wrap;
}

.container-custom {
  max-width: 800px;
  z-index: 100;
  position: relative;
}

.modalButton {
  background-size: 'contain';
  height: 79px;
  width: 119px;
  background-repeat: 'no-repeat';
  opacity: 0.9;
}

.close {
  left: -280px;
}

.Compare-wrapper {
  
  // background-image: url('./images/bgCompare.jpg');
  // background-size: contain;
  height: 100vh;
}

.Compare {
  height: 100%;
  background: linear-gradient(to right, #272727, #000000);
}

.Drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 150px;
  /* padding: 20px 10px; */
  box-sizing: border-box;
  background: #fff;
  transform: translateX(0px);
  transition: transform .22s ease-in;
  z-index: 999999999999;
}

.Drawer.close {
  /* transform: translateX(-300px); */
  transform: translateX(-300px);
}

.Drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* .Drawer ul li a {
  color: #363d54;
  font-size: 30px;
  text-decoration: none;
  background-color: #fff;
  position: relative;
  padding: 0 20px 10px 20px;
  transition: opacity .3s;
} */
.Drawer ul li a:hover, .active {
  opacity: .7;
}


.MenuToggle {
  position: fixed;
  bottom: 10px;
  /* left: 10px; */
  left: 3px;

  width: 50px;
  height: 50px;

  font-size: 25px;
  cursor: pointer;
  transition: opacity, all .22s ease-in;
  z-index: 100;
  border: none;
  background-color: transparent;
  background-image: url('../src/images/menu.png');
  background-size: cover;
  z-index: 9999;
}

.MenuToggle:hover {
  opacity: .7;
}

.MenuToggle.open {
  left: 155px;
}

.side-a {
  padding: 10px;
  color: #363d54;
  font-size: 30px;
  text-decoration: none;
  background-color: #fff;
  border-right: none;
  width: 100%;
  display: block;
}

.side-a:hover {
  border-right: 5px solid #cf7500;
}

.active-side {
  background-color: rgb(231, 228, 228);
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.75);
}

iframe {
  pointer-events: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.sticky+.content {
  padding-top: 102px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.nav-link.active {
  color: #c51765 !important;
}

main {
  height: 100%;
  // padding-top: 56px;
  background-color: #0c0c0c;
  // background-color: #212529;
}
.bg-dark-darker {
  background-color: #0c0c0c;
}
.bg-dark-lighten {
 background-color: #212529;
}

.title-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  text-transform: uppercase;
}

.title-section::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  height: 2px;
  width: 50px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle farthest-corner at 32.7% 82.7%, rgb(233, 231, 231) 8.3%, rgb(17, 44, 134) 79.4%);
}

.caption {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  min-height: 38px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  z-index: 50;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;

  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
  z-index: 1000;
  background: rgba(0,0,0,.85);
  padding: 2rem;
  border-radius: .5rem;
}
.lgbt {
	background: linear-gradient(180deg, #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#119F0B 49.98%, 66.64%,
		#0644B3 66.64%, 83.3%,
		#C22EDC 83.3%);
}
.slide-caption h3 {
  font-size: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
}
.slide-caption h1 {
  font-size: 1rem;
  text-shadow: 1px 0 5px  rgb(12, 12, 190);
}
.slide-caption p {
  text-transform: capitalize;
  font-size: 0.8rem;
}

.slide-caption h3::after {
  position: absolute;
  bottom: -10px;
  left:0;
  /* transform: translateX(-50%); */
  // background-image: radial-gradient(circle farthest-corner at 312.7% 82.7%, rgb(233, 231, 231) 8.3%, rgb(17, 44, 134) 79.4%);
	background: linear-gradient(90deg, 
    #119F0B 16.66%,
    // # 16.66%,
		yellow 16.66%, 33.32%,
		#FD8C00 33.32%, 49.98%,
		#FE0000 49.98%, 66.64%,
		#C22EDC 66.64%, 83.3%,
		#0644B3 83.3%);
  /* background-color: rgb(0, 204, 255); */
  height: 1px;
  width: 100px;
  content: "";
}

@media (min-width: 1200px) {
  .slide-caption h3 {
    font-size: 1.3rem;
  }
  .slide-caption h3::after {
    width: 370px;
  }
  .slide-caption h1 {
    font-size: 5rem;
  }
  .slide-caption p {
    font-size: 1.3rem;
  }
}


.slide {
  height: 250px;
  position: relative;
  background-color: #302f2f;
}
@media (min-width: 1200px) {
  .slide {
    height: 500px;
  }
}


.slide img {
  height: 100%;
  width: 100%;
}
.btn {
  border-radius: 0!important;
  border: none;

}
.btn-guesser-activated {
  opacity: 0.9;
  color: white;
  transition: all ease .15s;
}

.card {
  background-color: none;
  transition: all ease .15s;
  border: none
}

.card-body:hover .btn-guesser-activated {
  opacity: 1;
}

.card:hover {
  transform: translate3d(3px, 3px, 3px);
  box-shadow: 1px 4px  8px #1b1b1b;
}
section {
  border-bottom: 1px solid #5c5c5c;
}
section:last-child {
  border-bottom: none;
}
.hero-particles {
  background: linear-gradient(
    0deg, rgb(32, 32, 32) 0%, rgba(32, 32, 32, 0.9
  ) 10%, transparent 40%, transparent 100%), url("../src/images/ball-wed.svg") center center, #242423;
  background-size: cover;
  margin-bottom: -25px;
}
.youtubeVid {
  pointer-events: initial;
}