@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Prompt&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$bg1 : linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(17,10,32,1) 54%, rgba(23,22,22,1) 100%);


html {
  scroll-behavior: smooth;
}

body[data-theme='dark'] {
  --colors-text: #ffffff;
  --colors-bg: #080808;
  --colors-section-odd: #050505;
  --colors-section-even: #110f13;
  
  --colors-bg2: #1a1a1d;
  --colors-bg-grad: linear-gradient(90deg, #080911 0%, #05050e 54%, rgb(5, 0, 14) 100%);

  --shadow: #2c2c2c 0 3px 7px;
  --shadow-hover: #5e5e5e 0px 2px 5px;

  --text-shadow-hover: rgb(245, 0, 0) 0px 2px 10px;

  --text-under: #fca0ff;
}
body[data-theme='light'] {
  --colors-text: #000000;
  --colors-bg: #cccccc;
  --colors-section-odd: #ffffff;
  --colors-section-even: rgb(236, 236, 236);

  --colors-bg2: #dddbdf;
  --colors-bg-grad: linear-gradient(90deg, #cdcecf 0%, #cbcbe6 54%, rgb(255, 255, 255) 100%);

  --shadow: #686868 0 5px 7px;
  --shadow-hover: #ecebeb 0px 2px 10px;

  --text-shadow-hover: rgb(0, 0, 0) 0px 2px 10px;

  --text-under: #ff8a05;
}


body {
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Prompt';
  scroll-behavior: smooth;
  color: var(--colors-text);
  background-color: var(--colors-bg);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.square.entering {
  animation: square 1000ms ease-out forwards;
}

.square.exiting {
  animation: square 501ms ease-in alternate-reverse;
}

.square.exited {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes square {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 1;
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }

}

.os-exit {
  transform: translateX(0);
  opacity: 1;
}

.os-exit-active {
  transform: translateX(100px);
  transition: transform 1s, opacity 500ms;
  opacity: 0;
}

.os-exit-done {
  transform: translateX(0);
  opacity: 1;
}

.os-enter {
  opacity: 1;
  transform: translateX(0);
}

.os-enter-active {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s, opacity 500ms;
}

.os-enter-done {
  opacity: 1;
  transform: translateX(0);
}



.as-exit {
  transform: translateX(0);
  opacity: 1;
}

.as-exit-active {
  transform: translateX(-100px);
  transition: transform 1s, opacity 500ms;

  opacity: 0;
}

.as-exit-done {
  transform: translateX(0);
  opacity: 1;
}

.as-enter {
  opacity: 1;
  transform: translateX(0);
}

.as-enter-active {
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 1s, opacity 500ms;
}


.es-exit {
  transform: translateY(0);
  opacity: 1;
}

.es-exit-active {
  transform: translateY(100px);
  transition: transform 1s, opacity 500ms;

  opacity: 0;
}

.es-exit-done {
  transform: translateY(0);
  opacity: 1;
}

.es-enter {
  opacity: 1;
  transform: translateY(0);
}

.es-enter-active {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 1s, opacity 500ms;
}






.form-check-input:checked {
  background-color: #a2312816;
  border-color: #a23128;
}



.formWrapper {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  background: rgba(5, 5, 5, 0.9);
  box-shadow: 1px 1px 1px 1px #0e0e0e;
  transition: box-shadow .1s;
}

.formWrapper:hover {
  box-shadow: 1px 1px 3px 2px #0e0e0e;
}

.Winner-wrapper {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 1rem;
  position: fixed;

  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: rgba(5, 5, 5, 0.9);
  box-shadow: 1px 1px 1px 1px #0e0e0e;
  transition: box-shadow .1s;
}

@media (min-width: 1200px) {
  .Winner-wrapper {
    top: 5rem;
    left: 1rem;
    transform: translateX(0);

  }
}

.formCountries {
  display: flex;
  flex-wrap: wrap;
}

.container-custom {
  max-width: 800px;
  z-index: 100;
  position: relative;
}

.modalButton {
  border: none;
  background-size: 'contain';
  height: 79px;
  width: 119px;
  background-repeat: 'no-repeat';
  opacity: 0.9;
  cursor: pointer;
}

.close {
  left: -280px;
}

.Compare-wrapper {
  
  // background-image: url('./images/bgCompare.jpg');
  // background-size: contain;
  height: 100vh;
}

.Compare {
  height: 100%;
  background: linear-gradient(to right, #272727, #000000);
}

.Drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 150px;
  /* padding: 20px 10px; */
  box-sizing: border-box;
  background: #fff;
  transform: translateX(0px);
  transition: transform .22s ease-in;
  z-index: 999999999999;
}

.Drawer.close {
  /* transform: translateX(-300px); */
  transform: translateX(-300px);
}

.Drawer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* .Drawer ul li a {
  color: #363d54;
  font-size: 30px;
  text-decoration: none;
  background-color: #fff;
  position: relative;
  padding: 0 20px 10px 20px;
  transition: opacity .3s;
} */
.Drawer ul li a:hover, .active {
  opacity: .7;
}


.MenuToggle {
  position: fixed;
  bottom: 10px;
  /* left: 10px; */
  left: 3px;

  width: 50px;
  height: 50px;

  font-size: 25px;
  cursor: pointer;
  transition: opacity, all .22s ease-in;
  z-index: 100;
  border: none;
  background-color: transparent;
  background-image: url('../src/assets/images/menu.png');
  background-size: cover;
  z-index: 9999;
}

.MenuToggle:hover {
  opacity: .7;
}

.MenuToggle.open {
  left: 155px;
}

.side-a {
  padding: 10px;
  color: #363d54;
  font-size: 30px;
  text-decoration: none;
  background-color: #fff;
  border-right: none;
  width: 100%;
  display: block;
}

.side-a:hover {
  border-right: 5px solid #cf7500;
}

.active-side {
  background-color: rgb(231, 228, 228);
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.75);
}

// iframe {
//   pointer-events: none;
// }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.sticky+.content {
  padding-top: 102px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.nav-link.active {
  color: #c51765 !important;
}

.bg-dark-darker {
  background-color: #0c0c0c;
}
.bg-dark-lighten {
 background-color: #212529;
}

.title-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.title-section::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  height: 2px;
  width: 50px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle farthest-corner at 32.7% 82.7%, rgb(233, 231, 231) 8.3%, rgb(17, 44, 134) 79.4%);
}

.caption {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  min-height: 38px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  z-index: 50;
}

.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--colors-text);

  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
  z-index: 1000;
  background: var(--colors-bg-grad);
  padding: 2rem;
  border-radius: .5rem;
}

.lgbt {
  -webkit-text-fill-color: transparent;
	background: linear-gradient(90deg, #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#ebe083 49.98%, 70.64%,
		#7394ce 70.64%, 83.3%,
		#97729e 83.3%);
  background-clip:'text';
  -webkit-background-clip: text;
}
.slide-caption h3 {
  font-size: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
}
.slide-caption h1 {
  font-size: 1rem;
  text-shadow: 1px 0 5px  rgb(12, 12, 190);
}
.slide-caption p {
  text-transform: capitalize;
  font-size: 0.8rem;
}

.slide-caption h3::after {
  position: absolute;
  bottom: -10px;
  left:0;
  /* transform: translateX(-50%); */
  // background-image: radial-gradient(circle farthest-corner at 312.7% 82.7%, rgb(233, 231, 231) 8.3%, rgb(17, 44, 134) 79.4%);
	background: linear-gradient(90deg, 
    #119F0B 16.66%,
    // # 16.66%,
		yellow 16.66%, 33.32%,
		#FD8C00 33.32%, 49.98%,
		#FE0000 49.98%, 66.64%,
		#C22EDC 66.64%, 83.3%,
		#0644B3 83.3%);
  /* background-color: rgb(0, 204, 255); */
  height: 1px;
  width: 100px;
  content: "";
}

@media (min-width: 1200px) {
  .slide-caption h3 {
    font-size: 1.3rem;
  }
  .slide-caption h3::after {
    width: 370px;
  }
  .slide-caption h1 {
    font-size: 5rem;
  }
  .slide-caption p {
    font-size: 1.3rem;
  }
}


.slide {
  height: 250px;
  position: relative;
  background-color: #302f2f;
}
@media (min-width: 1200px) {
  .slide {
    height: 500px;
  }
}


.slide img {
  height: 100%;
  width: 100%;
}
.btn {
  border-radius: 0!important;
  border: none;

}
.btn-guesser-activated {
  opacity: 0.9;
  color: white;
  transition: all ease .15s;
}

.card {
  background-color: none;
  transition: all ease .15s;
  border: none
}

.card-body:hover .btn-guesser-activated {
  opacity: 1;
}

.card:hover {
  transform: translate3d(3px, 3px, 3px);
  box-shadow: 1px 4px  8px #1b1b1b;
}


.hero-particles {
  // background: var(--bg-particles);
  background: linear-gradient(
    0deg, rgb(32, 32, 32) 0%, rgba(32, 32, 32, 0.9
  ) 10%, transparent 40%, transparent 100%), url("../src/assets/images/ball-wed.svg") center center, #242423;
  background-size: cover;
  margin-bottom: -25px;
}
.youtubeVid {
  pointer-events: initial;
}
.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
}
.modal-inside {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;  
  color: #0e0e0e;
  border-radius: 5px;
  position: relative;
  z-index: 122000;
}
.modal-inside h1 {
  text-align: center;
}
.modal-inside button {
  float: right;
}

.ToTop {
  position: fixed;
  bottom: 25px;
  right: 10px;
  z-index: 100000;
  transition: all ease .35s;
  cursor: pointer;
  background-color: rgb(187, 184, 184);
  padding: 1rem;
  border-radius: 1rem;

  // transform: rotate(-90deg);
}
.ToTop:hover {
  background-color: rgb(201, 201, 201);
}
.ToTop img {
  padding: 10px;
  width: 100%;
  height: auto;
}
.hide {
  opacity: 0;
  transition: opacity all .35s;
}

.hoverable {
  transition: opacity .25s linear;
}
.hoverable:hover a img {
  opacity: 0.8;
}
.Footer {
  color: rgb(163 163 163/var(--tw-text-opacity));
}
.AccordionItem {
  padding: 0.8rem 1.2rem;
  border: 1px solid #ddd;
  user-select: none;
  cursor: pointer;
  transition: background .15s;
}
.AccordionItem:hover {
  background-color: #cecece;
}

// HEADER =========================================

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--colors-bg-grad);
  padding: 1rem 0;

  position: relative;
  
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}
.nav li {
  margin-right: 1rem;
  z-index: 1000;
}


.nav-mobile {
  display: block;
  opacity: 1;
}





@media screen and (max-width: 576px) {
  .header {
    display: block;
  }
  .nav {
    display: block;
    flex-wrap: wrap;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 0 1rem;
}
.card-home {
  width: 33.3333%;
  // padding: 1rem;
  text-align: center;
  box-shadow: var(--shadow);
  transition: .15s ;
}
.card-home:hover {
  box-shadow: var(--shadow-hover);
}
@media screen and (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
    padding:0 ;
  }
  .card-home {
    width: 100%;
  }
}

// CONTRIBUTIONS =========================================
.col-contr {
  width: 25%;
}
@media screen and (max-width: 576px) {
  .col-contr {
    width: 100%;
  }
}




.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3{
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.col-4 {
  width: 33.3333%;
}
.col-6 {
  width: 50%;
}
.col-8 {
  width: 66.6666%;
}
.col-10 {
  width: 83.3333333%;
}
.m-auto {
  margin: 0 auto;
}

.col-travel {
  width: 50%;
}
@media screen and (max-width: 576px) {
  .col-travel {
    width: 100%;
  }
}

.border-left {
  border-left: 1px solid #1a1919;
  // border-left: 1px solid var(--text-shadow-hover);
}

section {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-home:nth-child(4) {
  background-color: red;
}

.section-odd {
  background-color: var(--colors-section-odd);
}
.section-even {
  background-color: var(--colors-section-even);
}
.box-shadowed {
  box-shadow: var(--shadow);
}


.btn {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  // font-size: 16px;
  transition: background .15s;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.btn:disabled {
  background-color: rgb(233, 232, 232);
  color: #000000;
}
.btn-lg {
  padding: 1rem;
  font-size: 1.5rem;
}
.btn:hover {
  opacity: 0.95;
}
.btn-success {
  background-color: #4CAF50;
}
.btn-warning {
  background-color: yellow;
  color: #000000;

}
.btn-purple {
  background-color: #8f0177;
  color: #ffffff;
}
.btn-dark {
  background-color: #1b1b1b;
  color: #ffffff;
}
.btn-success:hover {
  background-color: #6fc772;
}
.disabled {
  pointer-events: none;
}
.text-center {
  text-align: center;
}


.travel-section {
  background: var(--colors-bg-grad);
}


.CountryWrapper {
  padding: 1rem;
  position: relative;
}
.CountryButton {
  background-size: contain;
  height: 79px;
  width: 118px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  transition: border .15s, box-shadow .15s;
  border: 1px solid rgb(138, 138, 138) ;
  opacity: 0.8;
  cursor: pointer;
  
}
.CountryButton.active {
  border: 1px solid #00ff00;
  box-shadow: 1px 2px 3px #00ff00;
}


.CountryWrapper:hover .CountryButton-label {
  opacity: 1;
}
.CountryButton-label {
  opacity: 0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 350ms;

  color: #fff;
}


.finish-block {
  background-color: var(--colors-text);
  color: var(--colors-bg);
}