.Add {
  /* text-align: center; */
}

.Add form {
  padding: 1rem;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fff;
  color: black;
  border-radius: .5rem;
}
.Add p {
  /* margin: 10px auto 0 auto; */
  min-height: 2rem;
  font-size: 1rem;
  color: red;
  /* background-color: #fff; */
  /* color: black; */
  /* border-radius: .5rem; */
}